server:
  port: 8080

spring:
  application:
    name: TP3
  datasource:
    url: jdbc:h2:file:./h2_databases/TP3
    driverClassName: org.h2.Driver
    username: admin
    password: admin
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true